<h2>Genre Index</h2>

<table class="table">

<% @genres.each do |g| %>
  <tr>
  <td><%= g.name %></td>
  <td>
    <%= link_to "Edit ", edit_genre_path(g) %>|
    <%= link_to " Show ", genre_path(g) %>|
    <%= link_to " Delete", genre_path(g), :method => :delete %>
  </td>
  </tr>
  
<% end %>
</table>

<%= link_to "Add a Genre", new_genre_path, :class=> "btn" %>


