<% if @artist.errors.any? %>
  <h2>Errors</h2>
  <ul>
    <% @artist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for(@artist, :html => {:multipart => true, class: "form-vertical"}) do |f| %>
  <%= f.input :name, :label => "Artist Name" %>
  <%= f.input :dob, :label => "Date of Birth", :start_year => 2000, :end_year => 1950 %>
  <%= f.input :bio, :input_html => { :rows => 3 } %>
  <%= f.input :remote_photo_url, :label => "Enter a URL for a picture of the Artist" %>
  <%= f.input :photo, :label => "or Upload One", :as => :file %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


