<h2>Artist Index</h2>

<table class="table">


<% @artists.each do |a| %>
  <tr>
  <td><%= a.name %></td>
  <td>
    <%= link_to "Edit ", edit_artist_path(a) %>|
    <%= link_to " Show ", artist_path(a) %>|
    <%= link_to " Delete", artist_path(a), :method => :delete %>
  </td>
  </tr>
  
<% end %>
</table>

<%= link_to "Add an Artist", new_artist_path, :class=> "btn" %>

