<% if @mixtape.errors.any? %>
  <h2>Errors</h2>
  <ul>
    <% @mixtape.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for(@mixtape, :html => {:multipart => true, class: "form-vertical"}) do |f| %>
  <%= f.input :name %>
  <%= f.association :songs, :collection => current_user.songs %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
<p>Looking for a different song, search our catalog for more songs</p>

<%= link_to "Search Songs", songs_path, :class=> "btn" %><br/><br/>

