<div>
	<h2>Your Mixtapes</h2>
</div>

<table class="table">
  <tr>
    <th>Mixtape</th>
    <th></th>
  </tr>


<% @mixtapes.each do |m| %>
  <tr>
    <td><%= m.name %></td>
    <td><%= link_to "Edit ", edit_mixtape_path(m) %>|
    <%= link_to " Show", mixtape_path(m) %>|
    <%= link_to " Delete", mixtape_path(m), :method => :delete %></td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to "Add a Mixtape", new_mixtape_path %>
