<div>
	<h2>Your Mixtapes</h2>
</div>

<% if current_user %>
<table class="table">
  <tr>
    <th>Mixtape</th>
    <th></th>
  </tr>


<% @mixtapes.each do |m| %>
  <tr>
    <td><%= m.name %></td>
    <td><%= link_to "Edit ", edit_mixtape_path(m) %>|
    <%= link_to " Show", mixtape_path(m) %>|
    <%= link_to " Delete", mixtape_path(m), :method => :delete %></td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to "Add a Mixtape", new_mixtape_path, :class=> "btn" %><br/><br/>

<% else %>
<div class="row" id="bottomgreeting">
  <div class="span4 offset1" id="mixtape">
    <h3>Create your own custom Mixtapes</h3>
    <%= link_to "Signup Today", new_user_registration_path, :class=> "btn btn-large btn-warning" %><br/><br/>
  </div>
  <div class="span5 offset1">
    <%= render "layouts/player" %>
    <br/>
  <div>
  
  </div>



<% end %>
