<div>
	<h2>Your Mixtapes</h2>
</div>

<% if current_user %>
<table class="table">
  <tr>
    <th>Mixtape</th>
    <th></th>
  </tr>


<% @mixtapes.each do |m| %>
  <tr>
    <td><%= m.name %></td>
    <td><%= link_to "Edit ", edit_mixtape_path(m) %>|
    <%= link_to " Show", mixtape_path(m) %>|
    <%= link_to " Delete", mixtape_path(m), :method => :delete %></td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to "Add a Mixtape", new_mixtape_path, :class=> "btn" %><br/><br/>

<% else %>
<h3>Message for non users to signup</h3>
<p>Sign up so you can create your own custom mixtapes and play your songs anywhere</p>

<%= link_to "Signup Today", new_user_registration_path, :class=> "btn btn-warning" %><br/><br/>



<% end %>
