<% if @song.errors.any? %>
  <h2>Errors</h2>
  <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>







<% unless @song.users.include?(current_user) %>

  <%= form_tag '/buy' do %>
    <%= hidden_field :song, :id %>
    <%= hidden_field :song, :price %>
    <%= submit_tag "Buy it Now, $#{@song.price}", :class => 'btn btn-primary'%>
  <% end %>

<% end %>