<% if @song.errors.any? %>
  <h2>Errors</h2>
  <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for(@song, :html => {:multipart => true, class: "form-vertical"}) do |f| %>
  <%= f.input :name, :label => "Song Name" %> 
  <%= f.input :price %>
  <%= f.association :artists %>
  <%= f.association :genres %>
  <%= f.association :albums %>
  <%= f.input :lyrics %>
  <%= f.input :photo, :label => "Upload a photo", :as => :file %>
  <%= f.input :song_file, :label => "Upload a song", :as => :file %>
   
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>