<% if @song.errors.any? %>
  <h2>Errors</h2>
  <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@song, :html => {:multipart => true}) do |f| %>
  <%= f.label "Song Name:" %>
  <%= f.text_field :name %><br/>
  <%= f.label "Rating:" %>
  <%= f.text_field :rating %><br/>
  <%= f.label "Favorite:" %>
  <%= f.text_field :favorite %><br/>
  <%= f.label "Price:" %>
  <%= f.text_field :price %><br/>
  <%= f.label "Lyrics:" %>
  <%= f.text_area :lyrics %><br/>
  <%= f.label "Upload a Photo" %>
  <%= f.file_field :photo %><br/> 
  <%= f.label "Artist" %><br/>
  <%= select_tag('song[artist_ids]', options_from_collection_for_select(Artist.all, :id, :name), {:multiple => true, :size => 6}) %><br/>
  
  <%= f.label "Upload a song" %><br/>
  <%= f.file_field :song_file %><br/>
  <%= f.submit %>
<% end %>