<div>
	<h2>Find a Song to Add to Your Collection</h2>
</div>


  
<%= search_form_for @search, :builder => SimpleForm::FormBuilder do |f| %>
  <div class="field">
  <%= f.label :name_cont, "Search by Name" %>
  <%= f.text_field :name_cont %><br/>
  </div>
  
  <div class="field">
  <%= f.label :genres_name_cont, "Search by Genre" %>
  <%= f.text_field :genres_name_cont %><br/>
  <%= f.button :submit, "Search" %>
  </div>

<% end %>

<table class="table">
  <tr>
    <th><%= sort_link @search, :name, "Song"%></th>
    <th><%= sort_link @search, :artists_name, "Artists"%></th>
    <th><%= sort_link @search, :albums_name, "Albums"%></th>
    <th><%= sort_link @search, :genres_name, "Genres"%></th>
  </tr>

<% @songs.each do |s| %>
  <tr>
    <td><%= link_to s.name, song_path(s) %></td>
    <td><% s.artists.each do |a| %>
      <%= a.name %><br/>
    <% end %></td>
    <td><% s.albums.each do |a| %>
      <%= a.name %><br/>
    <% end %></td>
    <td><% s.genres.each do |g| %>
      <%= g.name %><br/>
    <% end %></td>
  <tr/> 
<% end %>


</table>
<br/>

<% if current_user.try(:admin?) %>
  <%= link_to "Add a Song", new_song_path, :class=> "btn" %><br/><br/>
<% end %>

