<h2>Find a Song to Add to Your Collection</h2>
<% if @songs.any? %>
  
<%= search_form_for @search do |f| %>
  <div class="field">
  <%= f.label :name_cont, "Name contains" %>
  <%= f.text_field :name_cont %>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>

<ul>
<% @songs.each do |s| %>
  <li>
  <%= link_to s.name, song_path(s) %><br/>
  </li>  
<% end %>
</ul>
<% end %>

<%= link_to "Add a Song", new_song_path %>