<h2><%= @song.name %></h2>

<% if current_user.try(:admin?) %>
<%= link_to "Edit ", edit_song_path(@song) %>|
<%= link_to " Delete", song_path(@song), :method => :delete %><br/>
<% end %>

Artists: <br/>
<% @song.artists.each do |a| %>
  <%= a.name %><br/>
<% end %><br/>
Genres: <br/>
<% @song.genres.each do |g| %>
  <%= g.name %><br/>
<% end %><br/>
Albums: <br/>
<% @song.albums.each do |a| %>
  <%= a.name %><br/>
<% end %><br/>
<%= render "buyform" %>

Song Rating: <%= @song.rating %><br/>
Song Favorite: <%= @song.favorite %><br/>
Song Price: <%= @song.price %><br/>
Song Lyrics: <%= @song.lyrics %><br/>


<%= audio_tag(@song.song_file, :controls => true) if @song.song_file.present? %>