<h2><%= @song.name %></h2>

<% if current_user.try(:admin?) %>
<%= link_to "Edit ", edit_song_path(@song) %>|
<%= link_to " Delete", song_path(@song), :method => :delete %><br/><br/>
<% end %>

<% if current_user %>
  <%= render "buyform" %>
<% else %>
<p>Sign up so you can purchase this song and add it to your collection</p>

<%= link_to "Signup Today", new_user_registration_path, :class=> "btn btn-warning" %>
<% end %>
<br/>
<br/>
<div class="row">
  <div class="span5">
<table class="table">

  <tr>
    <td>Artists: </td>
    <td>
      <% @song.artists.each do |a| %>
        <%= a.name %><br/>
      <% end %><br/>
    </td>
  </tr> 
  <tr>
    <td>Artists: </td>
    <td>
      <% @song.albums.each do |a| %>
        <%= a.name %><br/>
      <% end %><br/>
    </td>
  </tr>
  <tr>
    <td>Genres: </td>
    <td>
      <% @song.genres.each do |g| %>
        <%= g.name %><br/>
      <% end %>
    </td>
  </tr> 
  
  <tr>
    <td>Lyrics: </td>
    <td><%= @song.lyrics %></td>
  </tr>

</table>
</div>
</div>
<br/>

<% if current_user.try(:admin?) %>
  <%= audio_tag(@song.song_file, :controls => true) if @song.song_file.present? %>
<% end %>

