<% if @album.errors.any? %>
  <h2>Errors</h2>
  <ul>
    <% @album.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for(@album, :html => {:multipart => true, class: "form-vertical"}) do |f| %>
  <%= f.input :name, :label => "Album Name" %>
  <%= f.input :remote_photo_url, :label => "Enter a URL for the Album Cover" %>
  <%= f.input :photo, :label => "or Upload One", :as => :file %>
  <%= f.input :release_date %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
  


