<% if @album.errors.any? %>
  <h2>Errors</h2>
  <ul>
    <% @album.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@album, :html => {:multipart => true}) do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %><br/>
    <%= f.label "Enter a URL for the Album Cover or Up Load One" %>
  <%= f.text_field :remote_photo_url %><br/>
  <%= f.label "or Up Load One" %>
  <%= f.file_field :photo %><br/>
  <%= f.label "Release Date" %>
  <%= f.date_select :release_date %><br/>
  <%= f.submit %>
<% end %>