<h2>Album Index</h2>

<ul>
<% @albums.each do |a| %>
  <li>
  <%= a.name %>
  <%= link_to "Edit", edit_album_path(a) %>
  <%= link_to "Show", album_path(a) %>
  <%= link_to "Delete", album_path(a), :method => :delete %>
  </li>
  
<% end %>
</ul>

<br/>
<br/>
<%= link_to "Add an Album", new_album_path %>