<!DOCTYPE html>
<html>
<head>
  <title>Xtunes</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to "Xtunes", root_path, :class => "brand" %>
      <ul class="nav">
        <li><%= link_to "Buy a Song", songs_path %></li>
        <li><%= link_to "Mixtapes", mixtapes_path %></li>
        <% if current_user %>
          <li><%= link_to "My Songs", purchases_path %></li>
        <% end %>
        <% if current_user.try(:admin?) %>
          <li><%= link_to "Albums", albums_path %></li>
          <li><%= link_to "Artist", artists_path %></li>
          <li><%= link_to "Genres", genres_path %></li>
        <% end %>
      </ul>
      </ul>	
			<ul class="nav pull-right">
			  <% if current_user %>
			    <li><%= image_tag(current_user.gravatar_url, :size => "30x30", :class => "img-circle") %></li>
			    <li><%= link_to current_user.name, edit_user_registration_path %></li>
				  
				  <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
			  <% else %>
				  <li><%= link_to "Sign In", new_user_session_path %></li>
				  <li><%= link_to "Sign Up",   new_user_registration_path %></li>
				  
			  <% end %>
			  
			</ul>
    </div>
  </div>
  <% flash.each do |type, message| %>
    <div class="alert <%= flash_class type%>">
	    <button type="button" class="close" data-dismiss="alert">×</button>
		  <%= message %>
	  </div>
  <% end %>
  <%= yield %> 
</div>
</body>
</html>
